body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

header {
    background-color: lightgray;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
}

footer {
    background-color: lightblue;
    padding: 10px 15px 10px 15px;
}

.section {
    padding: 0 20px;
}

#faq {
    background-color: lightgray;
}

.posts-list {
    width: 66%;
    display: inline-block;
}
.category-list {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    background-color:antiquewhite;
    padding-left: 10px;
    box-sizing: border-box;
}

.hidden {
    display: none;
}