body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

header {
    background-color: lightgray;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
}

footer {
    background-color: lightblue;
    padding: 10px 15px 10px 15px;
}

.section {
    padding: 0 20px;
}

#faq {
    background-color: lightgray;
}

#post-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.posts-list {
    flex: 5;
}
.category-list {
    background-color:antiquewhite;
    padding-left: 10px;
    box-sizing: border-box;
    flex: 1;
}

.category-list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.nav-link {
    color: black;
    font-size: 16px;
}

.nav-link:hover {
    color:gray;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    /* flex-direction: column; */
}

.menu li {
    margin-left: 20px;
}