body {
    margin: 0;
}

.header {
    padding: 10px 20px;
    background-color: black;
    color: white;
}

.footer {
    padding: 10px 20px;
    background-color: lightgrey;
    text-align: center;
}

.text {
    color:blue;
    padding: 10px;
}

#introText {
    background-color: blue;
    color: white;
}

.articles {
    display: inline-block;
    width: 80%;
}

.sidebar {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    background-color: gray;
}

.faq-element {
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.section {
    padding: 20px;
}

.hidden {
    display: none;
}

.faq-title {
    cursor: pointer;
}

.faq-title:hover {
    color: gray;
}